.course-card {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 300px;
  align-items: center;
  text-align: center;
}

.course-card__status {
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: bold;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
}

.course-card__title {
  margin-top: 20px;
  font-size: 1.25rem;
}

.course-card__status.enrolled {
  color: green;
}

.course-card__status.not-enrolled {
  color: red;
}

.course-card__left {
  margin-top: 20px;
}

.course-card__button-wrapper {
  margin-top: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.course-card:hover {
    transform: translateY(-4px);
}