.student-page {
    display: flex;
    flex-direction: column;
    padding: 20px;  
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.student-page h1{
    font-size: 2rem;
    margin-top: 100px;
}

.course-modal-title {
        text-align: center;
    margin: 20px 0;
}

.circle1 {
    position: absolute;
    top: 50%;
    right: -35%;
    z-index: -1;
}

.circle2 {
    position: absolute;
    top: -85%;
    right: 35%;
    z-index: -1;
}

.circle3 {
    position: absolute;
    top: 140%;
    right: 60%;
    height: 675px;
    width: 675px;
    z-index: -1;
}

.circle4 {
    position: absolute;
    top: 200%;
    left: 85%;
    z-index: -1;
}

.circle5 {
    position: absolute;
    top: 300%;
    right: 75%;
    z-index: -1;
}
